body {
    width: 1400px;
    height: 3264px;
    padding: 30px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    letter-spacing: 5px;
    margin: 0px auto;
}

#headerdiv {
    width: 1111px;
    height: 163px;
    margin: 0px auto;
    padding-top: 60px;
    
}

#headerdiv1 {
    display: flex;
}

.imagen {
    margin : 15px;
    
}

#headerdiv2 {
    max-width: 751px;
    padding: 30px;
    margin: 0px auto;
    text-align: center;
}

#headerdiv2 a {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #2B2B2B;
    letter-spacing: 5.45px;
    text-align: center;
    margin : 15px;

}

#headerdiv2 a:hover {
    color: #FF0000;
}

#fondonegro {
    width: 1401px;
    height: 644px;
    background-image: url('img/RectangleXL.svg');
    display: flex;
}

#bloque0 {
    display: flex;
    margin-left: 100px;
    padding-top: 200px;
}

#parrafo1 {
    font-family: Roboto;
    font-size: 36px;
    line-height: 44px;
    max-width: 539px;
    color: white;
}

#bloque2 {
    display: flex;
    color: white;
}

#tomate {
    margin: 10px;
    height: 101px;
    width: 101px;
}

#etiqueta {
    color: black;
    font-family: Lato;
    font-size: 11px;
    background-color: white;
    padding: 10px;
    width: 65px;
    letter-spacing: 5px;
}

.margin {
    margin-right: 10px;
}

#bloque10 {
    width: 349px;
    height: 653px;
    background-color: white;
    margin-left: 150px;
    margin-top: 40px;
    padding: 60px;
    border: black 1px solid;
}

#bloque10 p{
    margin: 0px auto;
    margin :30px;
}

#bloque10 img {
    margin: 0px auto;
    display: block;
    margin: 30px;
}

#p1 {
    font-family: Roboto;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
}

#p2 {
    font-family: Lato;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
}

#p3 {
    font-family: Lato;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-align: left;
}

#tomate2 {
    display: block;
}

#imagenn {
    width: 183px;
    height: 51px;
}

#reply {
    font-family: Lato;
    font-size: 11px;
    letter-spacing: 5px;
}

#adress {
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

textarea {
    border: 1px solid black;
    width: 671px;
    height: 141px;
    padding: 10px;
    font-size: 16px;
}

.Name {
    border: 1px solid black;
    width: 320px;
    height: 53px;
    padding: 10px;
    font-size: 16px;
    margin-right: 30px;
}

.botton {
    font-family: Lato;
    font-size: 11px;
    letter-spacing: 5px;
    background-color: rgb(19, 141, 202);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    width: 173px;
    height: 53px;


}

h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #2B2B2B;
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #D8D8D8; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin-top: 70px;
    background:#fff; 
    padding:0 10px; 
}